body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

table{
    border-collapse: collapse;
    
}
.center{
  margin-left: auto;
  margin-right: auto;
}
h1{
    text-align: center;
}
table, th, td {
    border: 1px solid black;

}
th, td{
    padding: 10px;
    text-align: center;
}
.positive{
    background-color: #8bc34a;
}

.negative{
    background-color:#f44336;
}

.pending{
    background-color: #ffc107;
}